body {
	background-color: #ffffff;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;	
	margin-top: 100px; 

	



}

header {
	width: 100%;
	background-color: gray;
	color: white;
	border-bottom: 1px black;
	position: fixed;
	top: 0px;
	
	
}

.header-00 {
	background-color: #4aaaa5;
	width: 200px;

}


nav {
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 50px;
	margin-right: 15px
}

.container {
	float: left;
	width: 50%;
}

.wrapper {

}

}


p {
	color:#777777;

}

aside {
	float: left;


}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: gray;
	
}
